<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Welcome to {{ title }}!
  </h1>
  <app-checkbox-fun-bad></app-checkbox-fun-bad>
</div>

<nav>
  <a routerLink="/form1" routerLinkActive="active">Form Async Validator</a>
  <a routerLink="/async-template" routerLinkActive="active">Async Template Changes</a>
  <a routerLink="/triple-async" routerLinkActive="active">Triple async</a>
  <a routerLink="/css-enc" routerLinkActive="active">Css enc</a>
  <a routerLink="/infinite-scroll" routerLinkActive="active">Infinite scroll</a>
  <a routerLink="/detect-full-render" routerLinkActive="active">Detect full render</a>
  <a routerLink="/star-grid" routerLinkActive="active">Star grid</a>
  <a routerLink="/" routerLinkActive="active">Home</a>
</nav>

<router-outlet></router-outlet>
